*.o
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
.deps
depcomp
freedesktop.org.xml
install-sh
intltool-*
missing
stamp-h*
update-mime-database
shared-mime-info.pc
test-subclassing
test-tree-magic
